{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
   
  </head>

  <body>

    <!-- <div class="site-wrap" id="home-section"> -->

      <!-- <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        
      </div> -->
      <div class="row mb-3">
        <h1 class="col pt-5 text-center">Change Your Password</h1>
      </div>
        <div class="col-md-10 mx-auto col-lg-5" bis_skin_checked="1">
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
          {% endif %}
          <form action="{% url 'change_password' %}" class="p-4 p-md-5 border shadow login-form bg-light"method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="form-floating mb-3" bis_skin_checked="1">
              <select class="form-control shadow" id="usertype" name="usertype" required>
                <option value="">Please Select User Type</option>
                <option value="renter">Borrower/Renter</option>
                <option value="lender">Lender/Owner</option>
              </select>
              <label for="fname">UserType</label>
            </div> -->
            <div class="form-floating mb-3" bis_skin_checked="1">
              <input type="password" class="form-control shadow" id="password" name="old_password" placeholder="Password" required>
              <label for="password">Old Password</label>
            </div>
            <div class="form-floating mb-3" bis_skin_checked="1">
              <input type="password" class="form-control shadow" id="password" name="new_password" placeholder="Password" required>
              <label for="password">New Password</label>
            </div>
            <div class="form-floating mb-3" bis_skin_checked="1">
              <input type="password" class="form-control shadow" id="cpassword" name="cnew_password" placeholder="Confirm Password" required>
              <label for="cpassword">Confirm New Password</label>
            </div>
            <div class="text-center">
              <button class="ps-5 pe-5 btn btn-lg btn-primary login-btn shadow" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      <!-- </div> -->

  </body>

</html>
{% endblock %}